{% load static %}
<div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0"><div class="our-team">
<div class="team-content">
<a href="#"><img src="assets/img/team/team1.jpg" alt=""></a><ul class="social-links">
<li><a href="#" class="ti-twitter"></a></li>
<li><a href="#" class="ti-linkedin"></a></li>
<li><a href="#" class="ti-facebook"></a></li>
</ul>
</div>
<div class="team-prof">
<h3>بیلکیس وابی</h3>
<span>طراح وب</span>
</div>
<div class="sth_det2">
<span class="ti-file"><u>04 دوره</u></span><span class="ti-user"><u>27 دانشجو</u></span>
</div>
</div></div>
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0"><div class="our-team">
<div class="team-content">
<a href="#"><img src="assets/img/team/team2.jpg" alt=""></a><ul class="social-links">
<li><a href="#" class="ti-twitter"></a></li>
<li><a href="#" class="ti-linkedin"></a></li>
<li><a href="#" class="ti-facebook"></a></li>
</ul>
</div>
<div class="team-prof">
<h3>خلق وسیم</h3>
<span>شرکت انواتو</span>
</div>
<div class="sth_det2">
<span class="ti-file"><u>06 دوره</u></span><span class="ti-user"><u>41 دانش آموز</u></span>
</div>
</div></div>
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0"><div class="our-team">
<div class="team-content">
<a href="#"><img src="assets/img/team/team3.jpg" alt=""></a><ul class="social-links">
<li><a href="#" class="ti-twitter"></a></li>
<li><a href="#" class="ti-linkedin"></a></li>
<li><a href="#" class="ti-facebook"></a></li>
</ul>
</div>
<div class="team-prof">
<h3>شیین تیم</h3>
<span>Codecanyou</span>
</div>
<div class="sth_det2">
<span class="ti-file"><u>13 دوره</u></span><span class="ti-user"><u>31 دانش آموز</u></span>
</div>
</div></div>
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0"><div class="our-team">
<div class="team-content">
<a href="#"><img src="assets/img/team/team4.jpg" alt=""></a><ul class="social-links">
<li><a href="#" class="ti-twitter"></a></li>
<li><a href="#" class="ti-linkedin"></a></li>
<li><a href="#" class="ti-facebook"></a></li>
</ul>
</div>
<div class="team-prof">
<h3>شريف شريفه</h3>
<span>چوتور Tsc</span>
</div>
<div class="sth_det2">
<span class="ti-file"><u>07 دوره</u></span><span class="ti-user"><u>24 دانشجو</u></span>
</div>
</div></div>
</div>
