<!DOCTYPE html>
<html dir="rtl" lang="en">
{% block header %}
{#<head>#}
{#<meta charset="utf-8">#}
{#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#<meta name="description" content="Eduleb - Education HTML Template">#}
{#<meta name="keywords" content="agency, business, corporate, creative, html5, modern, multipurpose, One Page, parallax, startup">#}
{#<title>Eduleb - آموزش قالب HTML</title>#}
{#<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">#}
{#<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">#}
{#<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">#}
{#<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">#}
{#<link rel="stylesheet" href="assets/fonts/themify-icons.css">#}
{#<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.css">#}
{#<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">#}
{#<link rel="stylesheet" href="assets/css/jquery-simple-mobilemenu.css">#}
{#<link rel="stylesheet" href="assets/css/magnific-popup.css">#}
{#<link rel="stylesheet" href="assets/css/animate.css">#}
{#<link rel="stylesheet" href="assets/css/style.css">#}
{#</head>#}
{% endblock header %}
<body data-spy="scroll" data-offset="80">
<div class="preloaders"><span class="loader"></span></div>
<div id="navigation" class="navbar-light bg-faded site-navigation">
    <div class="container-fluid"><div class="row">
<div class="col-20 align-self-center"><div class="site-logo"><a href="index.html"><img src="assets/img/logo.png" alt=""></a></div></div>
<div class="col-60 d-flex"><nav id="main-menu"><ul>
<li class="menu-item-has-children">
<a href="#">صفحه اصلی</a><ul>
<li><a href="index.html">صفحه اصلی 01</a></li>
<li><a href="index2.html">صفحه اصلی 02</a></li>
</ul>
</li>
<li><a href="about.html">در باره</a></li>
<li class="menu-item-has-children">
<a href="course.html">دوره</a><ul>
<li><a href="course.html">دوره</a></li>
<li><a href="course_details.html">جزئیات دوره</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="#">صفحات</a><ul>
<li><a href="instructor.html">مربی</a></li>
<li><a href="ins_details.html">مشخصات مربی</a></li>
<li><a href="pricing.html">طرح قیمت گذاری</a></li>
<li><a href="faq.html">صفحه فک</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="blog.html">وبلاگ</a><ul>
<li><a href="blog.html">وبلاگ</a></li>
<li><a href="blog_single.html">جزئیات وبلاگ</a></li>
</ul>
</li>
<li><a href="contact.html">مخاطب</a></li>
</ul></nav></div>
<div class="col-20 d-none d-xl-block text-end align-self-center">
<a href="#" class="header-btn">ورود</a><a href="contact.html" class="btn_one">ثبت نام</a>
</div>
<ul class="mobile_menu">
<li>
<a href="#">صفحه اصلی</a><ul class="sub-menu">
<li><a href="index.html">صفحه اصلی 01</a></li>
<li><a href="index2.html">صفحه اصلی 02</a></li>
</ul>
</li>
<li><a href="about.html">در باره</a></li>
<li>
<a href="#">دوره</a><ul class="sub-menu">
<li><a href="course.html">دوره</a></li>
<li><a href="course_details.html">جزئیات دوره</a></li>
</ul>
</li>
<li>
<a href="#">صفحات</a><ul class="sub-menu">
<li><a href="instructor.html">مربی</a></li>
<li><a href="ins_details.html">مشخصات مربی</a></li>
<li><a href="pricing.html">طرح قیمت گذاری</a></li>
<li><a href="faq.html">صفحه فک</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<li>
<a href="blog.html">وبلاگ</a><ul class="sub-menu">
<li><a href="blog.html">وبلاگ</a></li>
<li><a href="blog_single.html">جزئیات وبلاگ</a></li>
</ul>
</li>
<li><a href="contact.html">مخاطب</a></li>
</ul>
</div></div></div>
<section class="section-top"><div class="container"><div class="col-lg-10 offset-lg-1 text-center"><div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
<h1>مربی ما</h1>
<ul>
<li><a href="index.html">صفحه اصلی</a></li>
<li>/ مربی ها</li>
</ul>
</div></div></div></section>
{% block page_content %}
<section class="team_area section-padding"><div class="container">
<div class="section-title text-center">
<h2>با مربیان ما آشنا شوید</h2>
<p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
</div>

    {% for personnel in personnels %}
        {% include 'p_temp/includes/personnel.html' %}

    {% endfor  %}
</div>
</section>
{% endblock page_content %}
<div class="footer section-padding"><div class="container"><div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12"><div class="single_footer">
<a href="index.html"><img src="assets/img/logo.png" alt=""></a><p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است. چاپگرها و</p>
<div class="social_profile"><ul>
<li><a href="#" class="f_facebook"><i class="ti-facebook" title="Facebook"></i></a></li>
<li><a href="#" class="f_twitter"><i class="ti-twitter" title="Twitter"></i></a></li>
<li><a href="#" class="f_instagram"><i class="ti-instagram" title="Instagram"></i></a></li>
<li><a href="#" class="f_linkedin"><i class="ti-linkedin" title="LinkedIn"></i></a></li>
</ul></div>
</div></div>
<div class="col-lg-2 col-sm-6 col-xs-12"><div class="single_footer">
<h4>درباره ادولب</h4>
<ul>
<li><a href="#">درباره ما</a></li>
<li><a href="#">ثبت نام مدرس</a></li>
<li><a href="#">معلم شدن</a></li>
<li><a href="#">همه مربیان</a></li>
<li><a href="#">سوال پرسیده شده</a></li>
<li><a href="#">با ما تماس بگیرید</a></li>
</ul>
</div></div>
<div class="col-lg-2 col-sm-6 col-xs-12"><div class="single_footer">
<h4>دوره محبوب</h4>
<ul>
<li><a href="#">توسعه</a></li>
<li><a href="#">هنر و طراحی</a></li>
<li><a href="#">طراحی بصری</a></li>
<li><a href="#">طراحی گرافیک</a></li>
<li><a href="#">بازرسی کد</a></li>
<li><a href="#">بازاریابی دیجیتال</a></li>
</ul>
</div></div>
<div class="col-lg-3 col-sm-6 col-xs-12"><div class="single_footer">
<h4>اطلاعات تماس</h4>
<div class="sf_contact">
<span class="ti-map"></span><p>2570 کوادرا خیابان ویکتوریا، نیویورک، کانادا</p>
</div>
<div class="sf_contact">
<span class="ti-mobile"></span><p>+88 457 845 695</p>
</div>
<div class="sf_contact">
<span class="ti-mobile"></span><p><a href="tel:+88457845695">تماس با واتساپ</a></p>
</div>
<div class="sf_contact">
<span class="ti-email"></span><p>example@yourmail.com</p>
</div>
</div></div>
<div class="col-lg-2 col-sm-6 col-xs-12"><div class="single_footer">
<h4>دانلود برنامه</h4>
<p>برنامه ما را از فروشگاه برنامه و فروشگاه goole play دانلود کنید.</p>
<a href="index.html"><img src="assets/img/google-play.jpg" class="foot_img" alt=""></a><a href="index.html"><img src="assets/img/app-store.jpg" class="foot_img" alt=""></a>
</div></div>
</div></div></div>
<div class="foot_copy"><div class="footer_copyright"><p>© 2024. All Rights Reserved.</p></div></div>
<script src="assets/js/jquery-1.12.4.min.js"></script><script src="assets/bootstrap/js/bootstrap.min.js"></script><script src="assets/js/modernizr-2.8.3.min.js"></script><script src="assets/js/jquery-simple-mobilemenu.js"></script><script src="assets/owlcarousel/js/owl.carousel.min.js"></script><script src="assets/js/jquery.magnific-popup.min.js"></script><script src="assets/js/jquery.inview.min.js"></script><script src="assets/js/scrolltopcontrol.js"></script><script src="assets/js/wow.min.js"></script><script src="assets/js/scripts.js"></script>
</body>
</html>
